<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="userService" class="cn.jk.study.spring.part1.spring7.service.impl.UserServiceImpl"/>
    <bean id="log" class="cn.jk.study.spring.part1.spring7.log.Log"/>
    <aop:config>
        <aop:pointcut id="pointcut" expression="execution(* cn.jk.study.part1.spring7.service.impl.*.*(..))"/>
        <aop:aspect ref="log">
            <aop:before method="before" pointcut-ref="pointcut"/>
            <aop:after method="after" pointcut-ref="pointcut"/>
        </aop:aspect>
    </aop:config>
</beans>