# ide
.idea/
*/.idea/
*.iml
*/*.iml
out/
*/out/
target/
*/target/

# docs
API/
*/API/

# lib
lib/
*/lib/
*.jar
*/*.jar
*.zip
*/*.zip

# java
*.class
*/*.class

# nodejs
node_modules

# video
doc/designPattern-doc/GOF23设计模式全解/*


*/spring-framework
